.user_container {
  padding: 5vh;
}
.user_card_container {
  min-height: 80vh;
  width: 80vw;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_button {
  display: block;
}
.paper {
  padding: 5vh;
}
