.navImage {
  width: 50px;
}
.nav_icon {
  z-index: 10;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3rem;
}

.material-icons.nav_icon {
  color: rgba(35, 172, 214, 0.5);
}
.nav_icon:hover {
  cursor: pointer;
  color: rgba(35, 172, 214, 1);
}

.navbar-side {
  float: left;
  width: 70px;
  height: 100vh;
}
