.attendance-main-container {
  display: flex;
  flex-direction: column;
}

.attendance-navbar {
  height: 50px;
  width: 100%;
  text-align: center;
}

.attendance-content {
  display: flex;
  flex-direction: row;
}

.attendance-student-tracker {
  background-color: aquamarine;
  width: 95%;
  height: 80vh;
  padding: 10px;
}
